<div id="fields">

<p id="notice"><%= notice %></p>


<h2>Your recent questions:</h2>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div></div>



    <% @questions.each do |question| %>
      <!-- using the foreign key of user_id in the question object to be equal to the current users id in the session -->
      <% count = 0 %>
      <% if count >= 5%>
        <% break %>
      <% else %>
        <% if @questions[:user_id] === current_user.id
          count += 1 %>
        <tr>
          <td><%= link_to 'Show', question %></td>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>
          <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <%end%>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Got a question?', new_question_path %>

<h2>All recent questions:</h2>
</div>
