<div id="fields">

<p id="notice"><%= notice %></p>

<h2>Your questions:</h2>
   <!-- <div><%= render 'form' %></div> -->

    <%@questions.each do |question|%>
        <div class='userQuestions'><%= link_to question.body, question_path(question.id)%></div>
    <% end %>

<!-- <%= link_to 'Got a question?', new_question_path %> -->

<h2>All questions:</h2>

    <%@questions_asked.each do |question|%>
        <div class ='allQuestions'><%= link_to question.body, question_path(question.id)%></div>
    <% end %>
