<% content_for :question_bar do %>
  <%= render 'question_bar' %>
<% end %>


<div id="fields">

<p id="notice"><%= notice %></p>

<h2>Your questions:</h2>
   <!-- <div><%= render 'form' %></div> -->

    <%@questions.each do |question|%>
        <div class='userQuestions'><%= link_to question.body, question_path(question.id)%></div>
    <% end %>

<!-- <%= link_to 'Got a question?', new_question_path %> -->

<h2>All questions:</h2>

    <%@questions_asked.each do |question|%>
      <% past = Time.now + (30.minutes) %>
      <% if time_ago_in_words(question.updated_at).to_i <= time_ago_in_words(past).to_i %>
        <%=time_ago_in_words(question.updated_at).to_i%>
          <h6>This was asked <%=time_ago_in_words(question.updated_at)%> ago!</h6>
        <div class ='allQuestions' id ='recentQuestions'>
          <%= link_to question.body, question_path(question.id)%>
        </div>
      <% else %>
          <h6>This was asked on <%=question.updated_at.strftime("%d %b. %Y")%></h6>
        <div class ='allQuestions'><%= link_to question.body, question_path(question.id)%></div>
      <% end %>

    <% end %>
