<!DOCTYPE html>
<html>

<head>
  <title>Slackoverflowed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
        <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,800' rel='stylesheet' type='text/css'>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <a href="#" class="back-to-top">Back to Top</a>
  <div id="wrapper">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid container">
        <a class="navbar-brand brand" href="/questions">
          <%= image_tag 'SlackOverflow_LogoMark.png'%>
        </a>
        <%= yield(:question_bar) %>
      </div>
    </nav>
    <div class="content">
        <% if user_signed_in? %>
          <p class="greeting">Hello,
            <%= current_user.username %>!</p>
          <% end %>
        <%= yield %>
        <script id="dsq-count-scr" src="//slackflow.disqus.com/count.js" async></script>
      </div>
      <footer>
        <small>© 2016, D.A, Kelli, Joe, and Levi.</small>
      </footer>
    </div>
  </body>
</html>
