<!DOCTYPE html>
<html>

<head>
  <title>Slackoverflowed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
        <link href='https://fonts.googleapis.com/css?family=Work+Sans:500' rel='stylesheet' type='text/css'>
</head>

<body>
  <!-- <nav class="navbar navbar-default navbar-fixed-top"> -->

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand pull-left brand" href="#">
          <%= image_tag 'SlackOverflow_Logo.png'%>
        </a>
        <ul class="nav nav-pills pull-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            </li>
            <% else %>
              <li>
                <%= link_to "Sign in", new_user_session_path %>
              </li>
              <li>
                <%= link_to "Sign up", new_user_registration_path %>
              </li>
              <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <%= yield %>

<script id="dsq-count-scr" src="//slackflow.disqus.com/count.js" async></script>
</body>

</html>
